<% layout('./layout/page') -%>
<div class="ServiceContent">
    <p class="text-primary"><%= service.name %></p>
    <p><%= service.address %></p>
    <p><%= service.workinghours %></p>
    <p><%= service.site %></p>
    <p><%= service.email %></p>
    <p><%= service.production %></p>
    <p><%= service.info %></p>
    <p><%= service.description %></p>
    <a class="btn btn-primary" href="/home">Return</a>
</div>
